#!/bin/bash

MOUNTPOINT="/home/ben/owfs" # The directory in which you mounted OWFS. REQUIRED.
BUSDIR="bus.0" # The USB bus dir. Probabbly don't change this.
FAMILY="21" # The family of data loggers. See owfs man pages but probably do not change this.
ROLLOVER=true # Do you want the data to rollover when the memory is full
FREQUENCY="5" # Sample freq in minutes
DELAY="0" # Mission start delay
ISUSB=true # Is the reader usb?
OUTPUTDIR="/home/ben/logout" # Where to output data
LOGGING=true # Where to write logs
DUMPDATA=true # Dump the data before provisioning
MEMORY="Property of Regenerys Limited. Provisioned on $(date)" # Message to put into memory
